<!--
Inspired by Global search component of laravel/nova@3
-->
<template>
    <div v-on-clickaway="closeSearch" class="relative z-50 w-full max-w-xs">
        <div class="relative">
            <!-- Search -->
            <div
                class="relative"
                :style="cShowSelection ? 'opacity: 0;' : ''"
            >
                <icon type="search" class="absolute search-icon-center ml-3 text-80" />

                <input
                    ref="input"
                    @input.stop="search"
                    @keydown.stop=""
                    @keydown.enter.stop="chooseCurrentlySelectedResource"
                    @keydown.esc.stop="closeSearch"
                    @focus="openSearch"
                    @keydown.down.prevent="move(1)"
                    @keydown.up.prevent="move(-1)"
                    v-model="searchTerm"
                    type="search"
                    :placeholder="placeholder"
                    class="pl-search w-full form-global-search"
                    spellcheck="false"
                />
            </div>

            <!-- Loader -->
            <div
                v-if="loading"
                class="
                  bg-white
                  py-3
                  overflow-hidden
                  absolute
                  rounded-lg
                  shadow-lg
                  w-full
                  mt-2
                  max-h-search
                  overflow-y-auto
                "
            >
                <loader class="text-60" width="40" />
            </div>

            <!-- No Results Found -->
            <div
                v-if="shouldShowNoResults"
                class="
                  bg-white
                  overflow-hidden
                  absolute
                  rounded-lg
                  shadow-lg
                  w-full
                  mt-2
                  max-h-search
                  overflow-y-auto
                "
            >
                <h3 class="text-xs uppercase tracking-wide text-80 bg-40 py-4 px-3">
                    {{ __('No Results Found.') }}
                </h3>
            </div>

            <!-- Results -->
            <div
                v-if="shouldShowResults"
                class="
                  overflow-hidden
                  absolute
                  rounded-lg
                  shadow-lg
                  w-full
                  mt-2
                  max-h-search
                  overflow-y-auto
                "
                ref="container"
            >
                <ul class="list-reset">
                    <li
                        v-for="item in this.indexedResults"
                        :ref="item.index === highlightedResultIndex ? 'selected' : null"
                    >
                        <a
                            @click.prevent="navigate(item.index)"
                            class="
                              cursor-pointer
                              flex
                              items-center
                              hover:bg-20
                              block
                              py-2
                              px-3
                              no-underline
                              font-normal
                            "
                            :class="{
                              'bg-white': highlightedResultIndex !== item.index,
                              'bg-20': highlightedResultIndex === item.index,
                            }"
                        >
                            <img
                                v-if="item.avatar"
                                :src="item.avatar"
                                class="h-8 w-8 mr-3"
                                :class="{
                                  'rounded-full': item.rounded,
                                  rounded: !item.rounded,
                                }"
                            />

                            <div>
                                <p class="text-90">{{ item.title }}</p>
                                <p v-if="item.subTitle" class="text-xs mt-1 text-80">
                                    {{ item.subTitle }}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div
                v-if="cShowSelection"
                style="position: absolute; top: 0; left: 0; width: 100%;; height: 100%; border-radius: 9999px;"
                class="flex items-center bg-30 hover:bg-50 px-1 py-2"
            >
                <img
                    v-if="selection.avatar"
                    :src="selection.avatar"
                    class="h-8 w-8 mr-3"
                    :class="{
                      'rounded-full': selection.rounded,
                      rounded: !selection.rounded,
                    }"
                />
                <div>
                    <p class="text-90">{{ selection.title }}</p>
                    <p v-if="selection.subTitle" class="text-xs mt-1 text-80">
                        {{ selection.subTitle }}
                    </p>
                </div>
                <div
                    @click.prevent="openSearch"
                    style="cursor: pointer;"
                    class="ml-auto mr-2 text-80"
                >
                    <icon
                        type="search"
                        viewBox="0 0 20 20"
                        style="display: block;"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Minimum } from 'laravel-nova'
import { mixin as clickaway } from 'vue-clickaway'
import {
    Cancel,
    CancelToken
} from 'axios'

export default {
    name: 'ToolbarResourceSearch',
    mixins: [clickaway],
    props: {
        resource: {
            type: String,
            required: true
        },
        label: {
            type: String,
            required: true
        },
        selection: {
            type: [ null, String ],
            required: true
        },
        shortcut: {
            type: String,
            default: null
        },
        shortcutLabel: {
            type: String,
            default: null
        }
    },
    data: () => ({
        debouncer: null,
        canceller: null,
        loading: false,
        currentlySearching: false,
        searchTerm: '',
        results: [],
        highlightedResultIndex: 0,
        selectionHidden: false,
    }),

    created() {
        this.debouncer = _.debounce(callback => callback(), Nova.config.debounce)
    },

    mounted() {
        if (this.shortcut) {
            // Open search menu if the user types 'this.shortcut'
            Nova.addShortcut(this.shortcut, () => {
                this.openSearch()

                return false
            })
        }
    },

    destroyed() {
        if (this.shortcut) {
            Nova.disableShortcut(this.shortcut)
        }
    },
    watch: {
        $route: function () {
            this.closeSearch()
        },
    },
    methods: {
        hideSelection () {
            this.selectionHidden = true
        },
        showSelection () {
            this.selectionHidden = false
        },
        switchItem (id) {
            Nova.request()
                .post(`/nova-vendor/nova-toolbar-tools/toolbar-resources/${this.resource}`, { id })
                .then(response => {
                    window.location.reload()
                })
        },

        openSearch() {
            this.clearSearch()
            this.$refs.input.focus()
            this.currentlySearching = true
            this.clearResults()
            this.hideSelection()
        },

        closeSearch() {
            this.clearSearch()
            this.clearResults()
            this.$refs.input.blur()
            this.currentlySearching = false
            this.loading = false
            this.showSelection()
        },

        clearSearch() {
            this.searchTerm = ''
        },

        clearResults() {
            this.results = []
        },

        search(event) {
            this.highlightedResultIndex = 0
            this.loading = true

            if (this.searchTerm === '') {
                if (this.canceller !== null) this.canceller()

                this.loading = false
                this.results = []
            } else {
                this.debouncer(() => {
                    if (this.canceller !== null) this.canceller()

                    this.fetchResults(event.target.value)
                }, 500)
            }
        },

        async fetchResults(search) {
            this.results = []

            if (search !== '') {
                try {
                    const { data: results } = await Minimum(
                        Nova.request().get(
                            `/nova-vendor/nova-toolbar-tools/toolbar-resources/${this.resource}`,
                            {
                                params: { search },
                                cancelToken: new CancelToken(canceller => {
                                    this.canceller = canceller
                                }),
                            }
                        )
                    )

                    this.results = results

                    this.loading = false
                } catch (e) {
                    this.loading = false
                    if (e instanceof Cancel) {
                        return
                    }

                    throw e
                }
            }
        },

        /**
         * Move the highlighted results
         */
        move(offset) {
            if (this.results.length) {
                let newIndex = this.highlightedResultIndex + offset

                if (newIndex < 0) {
                    this.highlightedResultIndex = this.results.length - 1
                    this.updateScrollPosition()
                } else if (newIndex > this.results.length - 1) {
                    this.highlightedResultIndex = 0
                    this.updateScrollPosition()
                } else if (newIndex >= 0 && newIndex < this.results.length) {
                    this.highlightedResultIndex = newIndex
                    this.updateScrollPosition()
                }
            }
        },

        updateScrollPosition() {
            const selection = this.$refs.selected
            const container = this.$refs.container

            this.$nextTick(() => {
                if (selection) {
                    if (
                        selection[0].offsetTop >
                        container.scrollTop +
                        container.clientHeight -
                        selection[0].clientHeight
                    ) {
                        container.scrollTop =
                            selection[0].offsetTop +
                            selection[0].clientHeight -
                            container.clientHeight
                    }
                    if (selection[0].offsetTop < container.scrollTop) {
                        container.scrollTop = selection[0].offsetTop
                    }
                }
            })
        },

        navigate(index) {
            this.highlightedResultIndex = index
            this.chooseCurrentlySelectedResource()
        },

        chooseCurrentlySelectedResource() {
            const resource = _.find(
                this.indexedResults,
                res => res.index === this.highlightedResultIndex
            )

            this.switchItem(resource.id)

            this.closeSearch()
        },
    },
    computed: {
        hasResults() {
            return this.results.length > 0
        },
        hasSearchTerm() {
            return this.searchTerm !== ''
        },

        shouldShowNoResults() {
            return (
                this.currentlySearching &&
                !this.loading &&
                !this.hasResults &&
                this.hasSearchTerm
            )
        },

        shouldShowResults() {
            return this.currentlySearching && this.hasResults && !this.loading
        },

        indexedResults() {
            return _.map(this.results, (item, index) => {
                return { index, ...item }
            })
        },
        placeholder () {
            return this.shortcut ? `${this.label} (type '${this.shortcutLabel}')` : this.label
        },
        cShowSelection () {
            return !!this.selection && !this.selectionHidden
        }
    }
}
</script>

<style scoped>

</style>
