<template>
    <dropdown class="ml-5 h-9 flex items-center dropdown-right">
        <dropdown-trigger class="h-9 flex items-center">
            <div
                v-if="!selection"
                class="pa-2"
            >{{ label }}</div>
            <div
                v-else
                class="flex items-center"
            >
                <img
                    v-if="selection.avatar"
                    :src="selection.avatar"
                    class="h-8 w-8 mr-3"
                    :class="{
                                  'rounded-full': selection.rounded,
                                  rounded: !selection.rounded,
                                }"
                />
                <div>
                    <p class="text-90">{{ selection.title }}</p>
                    <p v-if="selection.subTitle" class="text-xs mt-1 text-80">
                        {{ selection.subTitle }}
                    </p>
                </div>
            </div>
        </dropdown-trigger>

        <dropdown-menu slot="menu" width="200" direction="rtl">
            <ul class="list-reset">
                <li v-for="item in items" :key="item.id">
                    <a
                        @click.prevent="switchItem(item.id)"
                        class="
                            block
                            no-underline
                            flex
                            items-center
                            hover:bg-30
                            p-3
                            cursor-pointer
                        "
                    >
                        <img
                            v-if="item.avatar"
                            :src="item.avatar"
                            class="h-8 w-8 mr-3"
                            :class="{
                                  'rounded-full': item.rounded,
                                  rounded: !item.rounded,
                                }"
                        />
                        <div>
                            <p class="text-90">{{ item.title }}</p>
                            <p v-if="item.subTitle" class="text-xs mt-1 text-80">
                                {{ item.subTitle }}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </dropdown-menu>
    </dropdown>
</template>

<script>
export default {
    name: 'ToolbarResourceDropdown',
    props: {
        resource: {
            type: String,
            required: true
        },
        label: {
            type: String,
            required: true
        },
        selection: {
            type: [ String, Object ],
        }
    },
    data: () => ({
        items: []
    }),
    created () {
        Nova.request()
            .get(`/nova-vendor/nova-toolbar-tools/toolbar-resources/${this.resource}`)
            .then(response => {
                this.items.push(...response.data)
            })
    },
    methods: {
        switchItem (id) {
            Nova.request()
                .post(`/nova-vendor/nova-toolbar-tools/toolbar-resources/${this.resource}`, { id })
                .then(response => {
                    window.location.reload()
                })
        }
    }
}
</script>

<style scoped>

</style>
